# Ignore virtual environments
.venv/
env/
venv/

# Ignore Python cache and logs
__pycache__/
*.py[cod]
*.log

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore output and input data
input/
output/
logs/

# Ignore notebook outputs (if needed)
notebooks/*_output_*.ipynb

# System files
.DS_Store
Thumbs.db
