# --------------------
# Python-related
# --------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.log

# --------------------
# Virtual Environments
# --------------------
.venv/
env/
venv/
ENV/

# -----------------
# Outputs
# -----------------


*.json


# --------------------
# Jupyter Notebooks Checkpoints
# --------------------
.ipynb_checkpoints/

# --------------------
# VSCode & IDE files
# --------------------
.vscode/
.idea/
*.swp

# --------------------
# Dagster / Papermill generated
# --------------------
notebooks/*/temp_*.ipynb
notebooks/*/*_output_*.ipynb
notebooks/output/*.json

# --------------------
# Configs and Secrets (optional)
# --------------------
config/config.yaml
*.env

# --------------------
# System files
# --------------------
.DS_Store
Thumbs.db
insurance.db
explore_data.ipynb
tmp*/